@import "./base.css";

.container,
.web_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  gap: 30px;
}

.web_title .web_page_name {
  font-family: "Roboto-Black";
  color: var(--theme-variant);
  font-size: 25px;
  text-transform: uppercase;
}

@media only screen and (min-width: 250px) {
  .web_title .web_page_name {
    font-size: 40px;
  }
}

@media only screen and (min-width: 350px) {
  .web_title .web_page_name {
    font-size: 60px;
  }
}

@media only screen and (min-width: 650px) {
  .web_title .web_page_name {
    font-size: 100px;
  }
}

.web_title .web_underline {
  position: relative;
  width: 50%;
  background-color: var(--theme-color);
  height: 2px;
  border-radius: 50%;
}

.container .authentication_navigator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media only screen and (min-width: 350px) {
  .container .authentication_navigator {
    flex-direction: row;
    gap: 20px;
  }
}

.container .authentication_navigator a {
  text-decoration: none;
}
.container .authentication_navigator a span {
  background-color: var(--index-box);
  padding: 15px;
  color: var(--theme-background);
  font-family: "roboto-mono";
  cursor: pointer;
}

@media only screen and (min-width: 350px) {
  .container .authentication_navigator a {
    padding: 20px;
  }
}
