@import "./base.css";

.profile_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  width: 100vw;
  background-color: var(--theme-background);
  display: none;
}

.navbar h3 {
  cursor: pointer;
  user-select: none;
  position: relative;
  margin-left: auto;
  font-size: 15px;
  padding: 7px;
  border-radius: 5px;
  transform: translateX(-20px);
  font-family: "roboto-mono";
  color: white;
  background-color: var(--theme-variant);
}

.profile_card {
  position: relative;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background: var(--theme-background);
  border: 3px solid var(--theme-color);
  padding: 15px 15px;
  gap: 20px;
  font-family: "roboto-mono";
  margin: 20px;
}

@media only screen and (min-width: 350px) {
  .profile_card {
    padding: 15px 30px;
    width: 350px;
  }
}

@media only screen and (min-width: 650px) {
  .profile_card {
    padding: 15px 30px;
    width: 400px;
  }
}

.info_msg_holder {
  padding: 0px !important;
}

.profile_insights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* ! form header */
.profile_insights h1 {
  color: var(--theme-variant);
  text-align: center;
  font-family: "roboto-black";
}

.profile_form {
  position: relative;
  width: 100%;
}

.profile_form input {
  font-family: "roboto-mono";
  position: relative;
  border: none;
  outline: none;
  background-color: rgba(var(--theme-input));
}

/* * input border */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: 3px solid var(--theme-variant);
  border-color: var(--theme-variant);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
}

.submit_profile_credentials {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
  align-items: end;
}

@media only screen and (min-width: 300px) {
  .submit_profile_credentials {
    flex-direction: row;
  }
}

.btn-success {
  background-color: #70e000;
}
