@import "./base.css";

/* * the form container */
.authentication_card_register,
.authentication_card_login {
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background: var(--theme-background);
  border: 3px solid var(--theme-color);
  padding: 10px;
  gap: 10px;
  margin: 20px;
}

/* ! form header */
.authentication_card_register h3,
.authentication_card_login h3 {
  color: var(--theme-variant);
  text-align: center;
  padding: 10px;
  font-family: "roboto-black";
}

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* ! form */
.authentication_card_register .sign_up_form,
.authentication_card_login .sign_in_form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--theme-background);
  border-radius: 10px;
  padding: 10px;
  gap: 25px;
  overflow: hidden;
}

.authentication_card_register .sign_up_form > input,
.authentication_card_login .sign_in_form > input {
  font-family: "roboto-mono";
  position: relative;
  border: none;
  outline: none;
  background-color: rgba(var(--theme-input));
}

/* * input border */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  outline: 3px solid var(--theme-variant);
  border-color: var(--theme-variant);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
}

/* ! navigation between login and singup */
.authentication_card_register .sign_up_form > .login_link,
.authentication_card_login .sign_in_form > .signup_link {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
}

@media only screen and (min-width: 350px) {
  .authentication_card_register,
  .authentication_card_login {
    width: 300px;
    padding: 20px;
  }
  
  .authentication_card_register .sign_up_form > .login_link,
  .authentication_card_login .sign_in_form > .signup_link {
    flex-direction: row;
  }
}

@media only screen and (min-width: 650px) {
  .authentication_card_register,
  .authentication_card_login {
    width: 400px;
    padding: 20px;
  }
  
  .authentication_card_register .sign_up_form > .login_link,
  .authentication_card_login .sign_in_form > .signup_link {
    flex-direction: row;
  }
}

.authentication_card_register .sign_up_form .login_link h3,
.authentication_card_login .sign_in_form .signup_link h3 {
  font-family: "roboto-mono";
  font-size: 10px;
  text-align: start;
  color: var(--theme-color);
}

.login_link h3 > a,
.signup_link h3 > a {
  color: var(--theme-variant);
}

/* ! form submission */
.authentication_card_register .sign_up_form .submit_credentials_register,
.authentication_card_login .sign_in_form .submit_credentials_login {
  font-family: "roboto-mono";
  font-size: 13px;
  position: relative;
  margin-left: auto;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--theme-variant);
  color: #ffffff;
}
